/* index.html css styling */

/*Ramen Icon in the middle of the landing page*/
#ramen {
	padding-top: 20vh;
	width: 195px;
	height: 194px;
}

#flavorProf {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 5px;
	padding-left: 2vw;
	padding-right: 2vw;
}

#description {
	margin-top: 10px;
	padding-bottom: 50px;
	padding-left: 5vw;
	padding-right: 5vw;
}

/*button to navigate to the questionaire page*/
#toQuestions {
	width: 192px;
	height: 52px;
	margin-bottom: 24px;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;

	box-shadow: 0 0 0 0 #bb1212;
	transform: scale(1);
	/* animation: pulse 2s infinite; */
}

#toQuestions:hover, #fortune-button:hover {
	background-color: #bb1212;
}

#fortune-button {
	width: 192px;
	height: 52px;
	cursor: pointer;
	outline: none;
	border: none;
	font-family: 'Montserrat';
	font-size: 18px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #bb1212;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
