/* index.html css styling */

/*Ramen Icon in the middle of the landing page*/
#ramen {
	padding-top: 20vh;
	width: 195px;
	height: 194px;
}

#flavorProf {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 5px;
	padding-left: 2vw;
	padding-right: 2vw;
}

#description {
	margin-top: 10px;
	padding-bottom: 50px;
	padding-left: 5vw;
	padding-right: 5vw;
}

/*button to navigate to the questionaire page*/
#toQuestions {
	width: 192px;
	height: 52px;
	margin-bottom: 10vh;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}

#toQuestions:hover {
	background-color: #bb1212;
}
