body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #eae1cd;
    margin: 0;
}

#icon {
    width: 61px;
    height: 55px;
}


/*Styling for the header*/
header {
    background-color: #f8f6f0;
    width: 100%;
    display: flex;
    align-items: center;
}

header button {
    display: flex;

    border: none;
    font-family: 'Montserrat';
    font-size: 10px;
    background-color: #da0B0b;
    color: white;
}

header button:hover {
    background-color: #da0b0b77;
}

/*Styling for text in the header*/
#noodleText {
    font-family: 'Hi Melody';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 7px;
}

/*Ramen Icon in the middle of the landing page*/
#ramen {
    padding-top: 20vh;
    width: 195px;
    height: 194px;
}

/*Styling for dropdown menu*/
.dropdown {
    position: relative;

    background-color: #da0B0b;
    color: white;
}


/*Styling for the main body*/
main {
    flex-grow: 1;
    font-family: 'Montserrat';

    text-align: center;
}

#flavorProf {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 5px;
    padding-left: 2vw;
    padding-right: 2vw;
}

#description {
    margin-top: 10px;
    padding-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*button to navigate to the questionaire page*/
#toQuestions {
    width: 192px;
    height: 52px;
    margin-bottom: 10vh;

    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    border-radius: 8px;
    background-color: #da0B0b;
    color: white;
}

#toQuestions:hover {
    background-color: #bb1212;
}

.footer {
    width: 100%;

    background-color: #f8f6f0;
    text-align: center;
}