body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #eae1cd;
	margin: 0;
}

#icon {
	width: 61px;
	height: 55px;
}

/*Styling for the header*/
header {
	background-color: #f8f6f0;
	width: 100%;
	display: flex;
	align-items: center;
}

header button {
	display: flex;

	border: none;
	font-family: 'Montserrat';
	font-size: 10px;
	background-color: #da0b0b;
	color: white;
}

header button:hover {
	background-color: #da0b0b77;
}

/*Styling for text in the header*/
#noodleText {
	font-family: 'Hi Melody';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin: 7px;
}

/*Ramen Icon in the middle of the landing page*/
#ramen {
	padding-top: 20vh;
	width: 195px;
	height: 194px;
}

/*Styling for dropdown menu*/
.dropdown {
	position: relative;

	background-color: #da0b0b;
	color: white;
}

/*Styling for the main body*/
main {
	flex-grow: 1;
	font-family: 'Montserrat';

	text-align: center;
}

#flavorProf {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 5px;
	padding-left: 2vw;
	padding-right: 2vw;
}

#description {
	margin-top: 10px;
	padding-bottom: 50px;
	padding-left: 5vw;
	padding-right: 5vw;
}

/*button to navigate to the questionaire page*/
#toQuestions {
	width: 192px;
	height: 52px;
	margin-bottom: 10vh;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}

#toQuestions:hover {
	background-color: #bb1212;
}

#submit {
	width: 192px;
	height: 52px;
	margin-bottom: 10vh;
	margin-top: 10vh;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}

#submit:hover {
	background-color: #bb1212;
}

.footer {
	width: 100%;

	background-color: #f8f6f0;
	text-align: center;
}

.Question {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*styling for the about us carousel*/

.carousel-container {
	display: none; /* Hide the carousel by default */
}

@media (max-width: 767px) {
	.carousel-container {
		display: block; /* Show the carousel on mobile devices */
	}

	.carousel {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	#member-name {
		font-size: 25px;
		font-weight: bold;
		margin-top: 20px;
	}

	#current-member {
		width: 200px;
		height: 200px;
		margin-top: 30px;
		margin-bottom: 0px;
		border: solid;
	}

	#description {
		margin-left: 50px;
		margin-right: 50px;
	}

	#member-noodle {
		display: block;
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-control {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		font-size: 25px;
	}

	.carousel-control.prev {
		left: 25px;
	}

	.carousel-control.next {
		right: 25px;
	}
}

main.questionnaire {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}



input {
	background-color: white;
	margin: 10 px 0px 10px 0px;
}

@media (min-width: 700px) {
	input {
		background-color: white;
		margin: 10px 20px 10px 20px;
	}
	a.agree {
		font-size: x-large;
		padding-left:2%;
	}
	
	a.disagree {
		font-size: x-large;
		padding-right: 2%;
	}

	.negative {
		/*remove default appearance*/
		appearance: none;
		-webkit-appearance: none;
	
		/*custom styling*/
		height: 60px;
		width: 60px;
		border: 4px solid rgb(237, 169, 169);
		border-radius: 50%;
	}
	
	.slightlyNegative {
		/*remove default appearance*/
		appearance: none;
		-webkit-appearance: none;
	
		/*custom styling*/
		position: static;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 4px solid rgb(237, 169, 169);
	}
	
	.negative:hover, .slightlyNegative:hover {
		border: 4px solid rgb(243, 72, 72);
		background-color: rgb(243, 72, 72);
	}
	
	.negative:checked, .slightlyNegative:checked {
		background-color: red;
		border: 4px solid red;
	}
	
	.positive {
		/*remove default appearance*/
		appearance: none;
		-webkit-appearance: none;
	
		/*custom styling*/
		height: 60px;
		width: 60px;
		border: 4px solid rgb(123, 230, 123);
		border-radius: 50%;
	}
	
	.slightlyPositive {
		/*remove default appearance*/
		appearance: none;
		-webkit-appearance: none;
	
		/*custom styling*/
		top: 0;
		left: 0;
		height: 45px;
		width: 45px;
		border: 4px solid rgb(123, 230, 123);
		border-radius: 50%;
	}
	
	.positive:hover, .slightlyPositive:hover{
		background-color: rgb(120, 202, 120);
		border: 4px solid rgb(120, 202, 120);
	}
	
	.positive:checked, .slightlyPositive:checked {
		background-color: rgb(72, 165, 72);
		border: 4px solid rgb(72, 165, 72);
	}
	.neutral {
		/*remove default appearance*/
		appearance: none;
		-webkit-appearance: none;
	
		/*custom styling*/
		top: 0;
		left: 0;
		height: 40px;
		width: 40px;
		border: 4px solid #a7a7a7;
		border-radius: 50%;
	}
	
	/*change color to grey on hover*/
	.neutral:hover {
		background-color: #a7a7a7;
		border: 3px solid #a7a7a7;
	}
	
	.neutral:checked {
		background-color: #828282;
		border: 3px solid #828282;
	}
	
}


form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.negative {
	/*remove default appearance*/
	appearance: none;
	-webkit-appearance: none;


    /*custom styling*/
    height: 50px;
    width: 50px;
    border: 4px solid rgb(237, 169, 169);
    border-radius: 50%;

}

.slightlyNegative {
	/*remove default appearance*/
	appearance: none;
	-webkit-appearance: none;

  /*custom styling*/
  position: static;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 4px solid rgb(237, 169, 169);

}

.negative:hover,
.slightlyNegative:hover {
	border: 4px solid rgb(243, 72, 72);
	background-color: rgb(243, 72, 72);
}

.negative:checked,
.slightlyNegative:checked {
	background-color: red;
	border: 4px solid red;
}

.positive {
	/*remove default appearance*/
	appearance: none;
	-webkit-appearance: none;

    /*custom styling*/
    height: 50px;
    width: 50px;
    border: 4px solid rgb(123, 230, 123);
    border-radius: 50%;
}

.slightlyPositive {
	/*remove default appearance*/
	appearance: none;
	-webkit-appearance: none;

    /*custom styling*/
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    border: 4px solid rgb(123, 230, 123);
    border-radius: 50%;

}

.positive:hover,
.slightlyPositive:hover {
	background-color: rgb(120, 202, 120);
	border: 4px solid rgb(120, 202, 120);
}

.positive:checked,
.slightlyPositive:checked {
	background-color: rgb(72, 165, 72);
	border: 4px solid rgb(72, 165, 72);
}
.neutral {
	/*remove default appearance*/
	appearance: none;
	-webkit-appearance: none;
0
    /*custom styling*/
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 4px solid #a7a7a7;
    border-radius: 50%;
}

/*change color to grey on hover*/
.neutral:hover {
	background-color: #a7a7a7;
	border: 3px solid #a7a7a7;
}

.neutral:checked {
	background-color: #828282;
	border: 3px solid #828282;
}

a.agree {

    font-size: large;
    padding-left:2%;
}

a.disagree {
    font-size: large;
    padding-right: 2%;

}

/*button to submit questionnaire*/
#submit {
	width: 192px;
	height: 52px;
	margin-bottom: 10vh;
	margin-top: 10vh;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}

#submit:hover {
	background-color: #bb1212;
}

.footer {
	width: 100%;

	background-color: #f8f6f0;
	text-align: center;
}

/*style for accessibility switch*/
.switch {
	position: relative;
	display: inline-block;
	text-align: right;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
