body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #eae1cd;
	margin: 0;
}

#icon {
	width: 61px;
	height: 55px;
}

/*Styling for the header*/
header {
	background-color: #f8f6f0;
	width: 100%;
	display: flex;
	align-items: center;
}

header button:hover {
	background-color: #da0b0b77;
}

/*Styling for text in the header*/
#noodleText {
	font-family: 'Hi Melody';
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	margin: 7px;
}

/*Ramen Icon in the middle of the landing page*/
#ramen {
	padding-top: 20vh;
	width: 195px;
	height: 194px;
}

#toggle {
	display: none;
}

/* Hamburger */
.hamburger {
	height: 45px;
	margin: 10px;
	display: -ms-grid;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	z-index: 120;
  }

.hamburger div {
	background-color: #eae1cd;
	position: relative;
	width: 40px;
	height: 5px;
	margin-top: 7px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#toggle:checked + .hamburger .top {
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
	margin-top: 22.5px;
  }
  
#toggle:checked + .hamburger .middle {
	-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	margin-top: -5px;
}

#toggle:checked + .hamburger .bottom {
	-webkit-transform: scale(0);
		transform: scale(0);
}

#toggle:checked ~ .dropdownContent {
	overflow: visible;
}


/*Styling for dropdown menu*/
.dropdown {
	font-family: 'Montserrat';
	position: relative;
	margin-left: auto;

	background-color: #da0b0b;
	color: white;

}

.dropdownContent {
	margin: 0;
	grid-template-rows: 1fr repeat(4, 0.5fr);
	grid-row-gap: 25px;
	list-style: none;
	clear: both;
	width: auto;
	text-align: center;
	height: 0px;
	overflow: hidden;
}

.navLink {
	font-size: 15px;
	font-family: "Montserrat";
	padding: 15px;

	display: flex;
	text-decoration: none;
	border: none;
	background-color: #da0b0b;
	color: white;
}

.navLink:hover {
	color: #da0b0b;
	background-color: #eae1cd;
}

/*Styling for the main body*/
main {
	flex-grow: 1;
	font-family: 'Montserrat';

	text-align: center;
}

#flavorProf {
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 5px;
	padding-left: 2vw;
	padding-right: 2vw;
}

#description {
	margin-top: 10px;
	padding-bottom: 50px;
	padding-left: 5vw;
	padding-right: 5vw;
}

/*button to navigate to the questionaire page*/
#toQuestions {
	width: 192px;
	height: 52px;
	margin-bottom: 10vh;

	border: none;
	font-family: 'Montserrat';
	font-size: 20px;
	border-radius: 8px;
	background-color: #da0b0b;
	color: white;
}

#toQuestions:hover {
	background-color: #bb1212;
}

.footer {
	width: 100%;

	background-color: #f8f6f0;
	text-align: center;
}

.Question {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*styling for the about us carousel*/

.carousel-container {
	display: none; /* Hide the carousel by default */
}

@media (max-width: 767px) {
	.carousel-container {
		display: block; /* Show the carousel on mobile devices */
	}

	.carousel {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	#member-name {
		font-size: 25px;
		font-weight: bold;
		margin-top: 20px;
	}

	#current-member {
		width: 200px;
		height: 200px;
		margin-top: 30px;
		margin-bottom: 0px;
		border: solid;
	}

	#description {
		margin-left: 50px;
		margin-right: 50px;
	}

	#member-noodle {
		display: block;
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-control {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 30px;
		font-size: 25px;
	}

	.carousel-control.prev {
		left: 25px;
	}

	.carousel-control.next {
		right: 25px;
	}
}
